<h1 class="text-center"><%= @group.title %></h1>
<h6 class="text-center">Created by <%= @user.username%></h6>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      Bio: <%= @group.bio %>
    </div>

    <div class="col">
      Members:
    </div>
  </div>
</div>
