<div id="page-content">
  <div class="container" id="homecontainer">

      <div class="jumbotron text-center text-white font-weight-bold" id="jumbotronhome">
        <h1 class="display-4">FitBuddy</h1>
        <p class="lead fw-bold">designed to help you achieve your physical and mental goals</p>
        <div id="spacing">

        </div>
        <hr class="my-4">
        <p class="fw-bold">Utilizing progression to help you keep achieving your goals time and time again.</p>
        <p class="lead">
          <a class="btn btn-success btn-lg" href="signup" role="button">Sign Up</a>
        </p>
      </div>
  </div>
</div>
