<h1>Welcome to FitBuddy</h1>
<p>FitBuddy was created to help you reach your health and fitness goals</p>
<p>This was created by Enzo Arata</p>
<h2>Circa 2021</h2>

<%= link_to 'Articles Listing Page', articles_path %> |
<%= link_to 'About Page', about_path %>
