@import 'bootstrap/dist/css/bootstrap';



.nav-item{
  color: white !important;
}
#bottomPage{
  background-color: black !important;
}
#homecontainer{
  margin-top: 25px;

}
#jumbotronhome{
  background-image: asset-url('workingout.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 435px;
}
#spacing{
  height: 150px;
}
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#user-content{
  background-color: #a4a6a4;
  border-radius: 25px;
}

#group-content{
  background-color: #a4a6a4;
  border-radius: 25px;
}
#groups-table{
  border-spacing: 0 2px;
  background-color: #a4a6a4;
  border-radius: 10px;
  border-spacing: 5em;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

#homelink{
  border-radius: 30px;
}
#myAlert{

}
.navbar-toggler{
  border-color: yellow;
  background-color: white;
}
.navbar-toggler-icon{
  border-color: yellow;


}

.alert-notice {
  background-color: #e6cd8a;

}
