<ul class="nav nav-tabs bg-dark">
  <li class="nav-item">
    <h3>FitBuddy</h3>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"></a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#"><%= link_to 'Home Page', root_path %></a></li>
      <li><a class="dropdown-item" href="#"><%= link_to 'About Page', about_path %></a></li>
      <li><a class="dropdown-item" href="#"><%= link_to 'Articles Pages', articles_path %></a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>


</ul>
